body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(224, 224, 224, 0.87);
    background-color: #242424;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.heading {
    text-align: center;
}

.todo-list {
    min-height: 200px;
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #007aff;
    background-color: #565656;
}

.todo-item .todo-label {
    flex: 1;
    font-size: 20px;
    text-align: left;
    color: aliceblue;
}

.todo-item .todo-action {
    display: flex;
    gap: 10px;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.btn {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007aff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.btn.btn-edit {
    background-color: #baa800;
}

.btn.btn-delete {
    background-color: #dc3545;
}

.btn.btn-done {
    background-color: #28a745;
}

.todo-item.done {
    background-color: #565656;
}

.todo-item.done .todo-label {
    text-decoration: line-through;
    color: white;
}

.todo-item.done .btn-done {
    background-color: #baa800;
}